<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Catalog</title>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'ctlg/styles.css' %}">
    <script src="{% static 'ctlg/getscript' %}"></script>

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
	<header>
		<h1>Каталог</h1>
        <h3>
            Адресная строка: /{% block Links %}{% endblock %}
        </h3>
		<form name="search" action="/search/" method ="get">
			<input type="text" name="q", value="{% block searchline %}{% endblock %}"><button type="submit">Поиск</button>
		</form>
	</header>
	
	<aside>
		<h2>Категории:</h2>
		<nav>
			<ul>
				{% block Cat %}
                {% endblock %}
			</ul>
		</nav>
	</aside>
	
	<section>
	    {% block Table %}
        {% endblock %}
	</section>
	
	<footer>
        {% block paginator %}
        {% endblock %}
	</footer>

</body>
</html>